{% extends 'base.html' %}
{% block content %}
    <div class="account-head">
        <ul class="head-text">
            <a href="">
                <li class="head-button">My profile</li>
            </a>
            <a href="">
                <li class="head-button">Settings</li>
            </a>
                <li class="active">Add post</li>
        </ul>
    </div>
    <div class="content-account">
        <form action="{% url 'account' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="color: #E0FFFF">{{ form.non_field_errors }}</div>
            {% for f in form %}
                <p class="test"><label class="text-form" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                <p style="color: #E0FFFF">{{ f.errors }}</p>
            {% endfor %}
            <div class="button-send">
                <button class="button-form" type="submit">Add</button>
            </div>
        </form>
    </div>
{% endblock %}