{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}

{% block content %}
    <div class="posts-user">
        <ul class="article-post">
            {% for p in posts %}
                <li class="pos">
                    <div class="upper-post">
                        <p class="first">Categories: {{ p.cat }}</p>
                        <p class="midle">User: {{ p.author }}</p>
                        <p class="last">Date: {{ p.time_update|date:"d-m-Y H:i:s" }}</p>
                    </div>
                    <div class="lower-post">
                        <h2 class="title">{{ p.name }}</h2>
                        {% if p.photo %}
                            <p><img class="img-post" src="{{ p.photo.url }}"></p>
                        {% endif %}
                        {{ p.content|linebreaks|truncatewords:130 }}
                    </div>
                </li>
                <div class="button-post">
                    <a href="{{ p.get_absolute_url }}" class="text-button-post">read post</a>
                </div>
            {% endfor %}
        </ul>
        {% if page_obj.has_other_pages %}
        <ul class="pagin-page" >
        {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
                <li class="page-pgn-active">{{ p }}</li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                <li class="page-pgn">
                    <a class="pgn-href" href="?page={{ p }}">{{ p }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}